* {
	font-stretch: semi-expanded;

}

#header {
	color: #4cdaed;
}



#intro {
	background-color: #dededf;
}

#video {
	max-width: 100%;

}


p {
	font-size: 16px;
}




h1 {
	font-size: 58px;
	font-weight: bold;
}

ul {
	list-style-type: none;

}

i {
	color: #7c3594;
}

#button {
	background-color: #4cdaed;
	font-size: 13px;
}

#purple {
	width: 100%;
}

#middle {
	background-color: #7c3594;
}

h2 {
	font-size: 55px;
	color: white;
}

#disclaimer {
	font-size: 8px;
	font-style: italic;
}

#last {
	background-color: #4cdaed;
}

.footnotes {
	font-size: 12px;

}


@media only screen and (max-width: 768px) {
	p.tablet {
		font-size: 12px;
	}
	
}

@media only screen and (max-width: 1024px) {
	li.tablet {
		font-size: 12px;
	}
}

@media only screen and (max-width: 1024px) {
	h1.title {
		font-size: 30px;
	}
}


@media only screen and (max-width: 1024px) {
	h2.title {
		font-size: 30px;
	}

@media only screen and (max-width: 768px) {
	li.tablet {
		font-size: 8px;
	}
}

@media only screen and (max-width: 768px) {
	button.size {
		font-size: 6px;
	}
}

@media only screen and (max-width: 425px) {
	div.phone {
		text-align: center;
		padding-left: 2rem;
	}
}

@media only screen and (max-width: 425px) {
	div.center {
		justify-content: center;
	}
}


